.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}
#btn {
    margin: 5px;
}

#heading, #explain {
    text-align: center;
}

.hide {
    display: none;
}